.productsContainer {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: transparent;
    gap: 20px;
}

.productsContainer::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(to left, transparent 50%, rgba(218, 165, 32, 0.2)),
                linear-gradient(to right,transparent 50%, rgba(218, 165, 32, 0.2));
    filter: blur(50px);
  }

@media only screen and (min-width: 768px) {
    .productsContainer {
        margin: 75px 0;
    }
}

.productsContainer .products {
    display: flex;
    flex-flow: wrap;
    gap: 10px;
    width: 90%;
}

@media only screen and (min-width: 768px) {
    .productsContainer .products {
        gap: 20px;
    }
}
